.logo_cotianer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo_cotianer > div {
  font-size: 30px;
  color: #eff2f9;
  padding: 10px;
  animation: glow 2s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #da2222, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

[alt="todologo"] {
  box-shadow: rgba(30, 30, 30, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}
