.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.them_changer {
  position: fixed;
  right: 10%;
  top: 5%;
}

.from_container {
  width: 450px;
  height: 180px;
  /* background-color: red; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
